* {
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: black;
    text-align: center;
    font-size: 35px;
    color: white;

}

/* BODY STYLING  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 0px;
    color: black;
    background-color: rgba(151, 176, 165, 0.853);
}



.T1 {
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    text-shadow: 3px 3px darkslategray;
}

.T4 {
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    text-shadow: 3px 3px rgb(54, 105, 112);
}

.T2 {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.T3 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-shadow: 2px 2px rgb(39, 77, 77);
}

/* navigation bar*/
nav {
    float: left;
    width: 100%;
    height: 90px;
    background: black;
    padding: 15px;
    position: fixed;
}

nav a {
    float: left;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;

}

nav li a:hover {
    background-color: moccasin;
    opacity: 0.5;
    color: black;
}


.active {
    background-color: darkolivegreen;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    line-height: 50px;
    font-weight: bold;
    text-align: center;

}

.grid1 {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: darkgray;
    height: 570px;
    border-radius: 15px;
}


.grid2 {
    float: left;
    padding: 20px;
    width: 30%;
    background-color: gray;
    height: 570px;
    border-radius: 15px;
}

.grid3 {
    float: left;
    padding: 20px;
    width: 33.3%;
    height: 570px;
    border: 2px solid darkolivegreen;
    border-radius: 15px;
    box-shadow: 0 0 2px 2px rgba(102, 118, 41, 0.494);
}

.grid4 {
    float: left;
    padding: 20px;
    width: 100%;
    height: 270px;
    border: 1px solid darkolivegreen;
    background-color: rgb(61, 73, 73);
    border-radius: 15px;
    box-shadow: 0 0 1px 1px rgb(61, 73, 73);;
}


/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-image: url("logoya.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}

/* general layout for buttons */
.button1 {
    border: none;
    color: whitesmoke;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    background-color: darkolivegreen;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px rgba(184, 214, 77, 0.494);
}

.button1:hover {
    background-color: moccasin;
    color: black;

}

.button2 {
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    background-color: darkolivegreen;
    border-radius: 12px;
}


.button2:hover {
    background-color: moccasin;
    color: black;

}

/* flexible container */
.div1 {
    display: flex;
    flex-direction: column;
    border: 2px solid darkolivegreen;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.tf{
    text-shadow: 2px 2px darkolivegreen;
    text-decoration: underline;
    text-decoration-color: moccasin;
    text-align: center;
}


/* form styling */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

legend,
label {
    color: rgb(39, 115, 117);
    font-weight: bold;

}

/* RWD */
@media (max-width: 600px) {

    nav,
    section {
        width: 100%;
        height: auto;
    }
}